<header class="header">
  <div class="container">

    <div class="header__inner">

      <nav class="header__nav nav flex --just-space --align-center">
        <a href="" class="nav__logo logo">
          <img class="" src="img/logo.svg" alt="Logo">
        </a>
        <ul class="nav__list flex">
          <li class="nav__item">
            <a href="#" class="nav__link">Обо мне</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Навыки</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Услуги</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Портфолио</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Отзывы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>

        </ul>
      </nav>

      <h1 class="header__title">
        Привет, я Иван Иванов
        <span>frontend-</span>
        <span>разработчик </span>
      </h1>
      <a href="#" class="header__link">смотреть работы
        <span class="header__arrow"></span>
      </a>
    </div>
  </div>
</header>