<section class="skills section dark-bg">
  <div class="container">
    <h2 class="title section__title">Навыки</h2>
    <div class="skills__wrapper flex --just-space --align-center">
      <div class="skills__box">
        <img src="img/skills-bg.jpg" alt="Мои навыки" class="skills__img">
      </div>
      <ul class="skills__list">
        <li class="skills__item">
          <span class="skills__name">html</span>
          <div class="skills__line">
            <span class="skills__percentage" style="width: 80%;"></span>
          </div>
        </li>
        <li class="skills__item">
          <span class="skills__name">css</span>
          <div class="skills__line">
            <span class="skills__percentage" style="width: 75%;"></span>
          </div>
        </li>
        <li class="skills__item">
          <span class="skills__name">js</span>
          <div class="skills__line">
            <span class="skills__percentage" style="width: 70%;"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>