<section class="gallery section">
  <div class="container">

    <h2 class="section__title gallery__title">Мои работы</h2>
    <div class="gallery__tabs">
      <div class="gallery__btn gallery__btn--active">Все работы </div>
      <div class="gallery__btn">Лендинги</div>
      <div class="gallery__btn">Корпоративные</div>
      <div class="gallery__btn">E-commerce</div>
    </div>

    <div class="gallery__wrapper">

      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img1.jpg" alt="first example">
      </div>
      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img2.jpg" alt="second example">
      </div>
      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img3.jpg" alt="third example">
      </div>
      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img4.jpg" alt="fourth example">
      </div>
      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img5.jpg" alt="fifth example">
      </div>
      <div class="gallery__box">
        <img class="gallery__img" src="img/gallery/img6.jpg" alt="sixth example">
      </div>
    </div>
    <a href="#" class="gallery__more btn">Загрузить еще</a>
  </div>

</section>