<section class="section reviews dark-bg">
  <div class="container">
    <div class="reviews__inner">
      <h2 class="section__title reviews__title">Отзывы клиентов</h2>

      <div class="reviews__wrapper">
        <div class="reviews__comment">
          <div class="reviews__avatar">
            <img src="img/content/mark.jpg" alt="Mark Zuckerberg" class="reviews__img">
          </div>
          <h3 class="reviews__name">Марк Цукерберг</h3>
          <div class="reviews__text">
            <p>
              Фантастика! Я всецело доволен
              работой этого специалиста.
              Быстро и качественно. Рекомендую!
            </p>
          </div>
        </div>

        <div class="reviews__video" style="background-image: url('../img/content/video-bg.jpg');">
          <a data-fancybox href="https://www.youtube.com/watch?v=7mQcNYYZ_qY" class="reviews__play"></a>
        </div>

      </div>

    </div>
  </div>
</section>