<section class="section summary">
  <div class="container">
    <h2 class="sr-only">Наши цифры</h2>
    <div class="summary__inner">
      <div class="summary__block">
        <img src="img/icons/works.svg" alt="Выполненных работ" class="summary__img">
        <h2 class="summary__title">Выполненных работ</h2>
        <span class="summary__count">56</span>
      </div>
      <div class="summary__block">
        <img src="img/icons/clients.svg" alt="Довольных клиентов" class="summary__img">
        <h2 class="summary__title">Довольных клиентов</h2>
        <span class="summary__count">23</span>
      </div>
      <div class="summary__block">
        <img src="img/icons/coffee.svg" alt="Выпито чашек кофе" class="summary__img">
        <h2 class="summary__title">Выпито чашек кофе</h2>
        <span class="summary__count">477</span>
      </div>
      <div class="summary__block">
        <img src="img/icons/chat.svg" alt="Всего отзывов" class="summary__img">
        <h2 class="summary__title">Всего отзывов</h2>
        <span class="summary__count">48</span>
      </div>
    </div>
  </div>
</section>