<section class="section contacts">
  <div class="container">

    <h2 class="section__title contacts__title">Контакты</h2>

    <div class="contacts__inner">

      <div class="contacts__connect">
        <div class="contacts__text">
          <p>
            Связаться со мной можно, воспользовавшись контактной формой, или напрямую по номеру телефона, email, в
            соцсетях:
          </p>
        </div>
        <div class="contacts__group">
          <a href="tel:380501111111" class="contacts__link">+38 (050) 111 11 11</a>
          <a href="mailto:frontend-monster@email.com" class="contacts__link">frontend-monster@email.com</a>
        </div>
        <div class="social contacts__social">
          <a href="#" class="social__link social__link--insta"></a>
          <a href="#" class="social__link social__link--fb"></a>
          <a href="#" class="social__link social__link--tg"></a>
        </div>
      </div>

      <form action="" class="contacts__form form">
        <label class="form__label">
          Ваше имя
          <input type="text" class="form__input" placeholder="Иван">
        </label>
        <label class="form__label">
          Номер телефона
          <input type="text" class="form__input" placeholder="+380501111111">
        </label>
        <label class="form__label">
          Ваше сообщение
          <textarea class="form__textarea" placeholder="Текст вашего сообщения"></textarea>
        </label>
        <button class="btn form__btn" type="submit">Отправить</button>
      </form>

    </div>

  </div>
</section>